@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Signika:wght@600&family=Varela+Round&family=Ysabeau+Office:wght@300&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    height: 50px;
    width: 80%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    list-style-type: none;
    font-family: 'Ysabeau Office', sans-serif;
}
.nav-brand {
    font-weight: 900;
    font-size: 30px;
    font-family: 'Signika', sans-serif;
    color: black;
}
.nav-item {
    display: flex;
    align-items: center;
    padding: 0 5px 0 0;
    margin: 10px;
}
.nav-item a {
    text-decoration: none;
    color: black;
}
.header {
    height: 600px;
    background-image: url(../bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.heading {
    font-size: 100px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}
.text {
    font-size: 20px;
    color: white;
    font-family: 'Ysabeau Office', sans-serif;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 80%;
    justify-content: space-evenly;
}
.div {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.image-container {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: blue;
    align-content: center;
}
.title {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Varela Round', sans-serif;
}
.sub-text {
    font-family: 'Ysabeau Office', sans-serif;
    text-align: justify;
    font-size: 14px;
    line-height: 180%;
}
@media only screen and (max-width: 767px) {
    .nav {
        flex-direction: column;
        height: auto;
        text-align: center;
        align-items: center;
    }
    .nav-list {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .header {
        background-image: url(/bg.jpg);
        background-size: cover;
    }
    .heading {
        font-size: 10vw;
        text-align: center;
    }
    .text {
        text-align: center;
    }
    .container {
        flex-direction: column;
    }
    .div {
        width: 100%;
    }
}


